
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="post" action="Login">
    <div class="form-row">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" placeholder="Username" value="mearls" />
    </div>
    <div class="form-row">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password" value="demo" />
    </div>
    <div class="form-row">
        <input type="submit" value="Login" class="btn btn-success" />
    </div>
</form>